.moveTable {
	width: 100%;
	margin-top: 10px;
	font-size: 16px;
}

.moveCell {
	width: 85px;
	height: 30px;
	text-align: left;
	padding: 5px;
	border-radius: 2px;
	font-weight: bold;
	cursor: pointer;
}

.moveCell:hover {
	background-color: var(--color-dark-gray);
}

.currentMove {
	background-color: var(--color-dark-gray);
}

.moveNumber {
	width: 20px;
	text-align: left;
	padding: 5px;
	border-radius: 2px;
}

.inactiveCell {
	width: 85px;
	padding: 5px;
	opacity: 0.3;
	cursor: default;
}

.nonInteractive {
	cursor: default;
}

.nonInteractive:hover {
	background-color: transparent;
}

.pieceChar {
	font-size: 28px;
	position: relative;
	top: 1px;
}

.pieceIcon, .capturedPieceIcon {
	position: relative;
	width: 25px;
	height: 25px;
	top: 1px;
}

.capturedPieceIcon {
	opacity: 0.6;
}

.captureX {
	position: relative;
	bottom: 4px;
	font-size: 16px;
}

.moveSquare {
	position: relative;
	bottom: 4px;
}

.moveText {
	position: relative;
	font-size: 18px;
}

/* Player colors */
.moveCell:nth-child(2) {
	color: var(--color-red);
}

.moveCell:nth-child(3) {
	color: var(--color-blue);
}

.moveCell:nth-child(4) {
	color: var(--color-yellow);
}

.moveCell:nth-child(5) {
	color: var(--color-green);
}
