.boardContainer {
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.boardInnerContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

.board {
	position: relative;
	width: 100%;
	height: 100%;
}

.row {
	display: flex;
}

.centerMarker {
	border: 4px solid #666;
	border-radius: 50%;
	left: calc(50%);
	opacity: 0.5;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
